h1,
p {
  text-align: center;
}
p {
  font-size: 25px;
  margin: 16px 0;
}
h1 {
  font-size: 40px;
}
a {
  margin: 0px 10px;
  color: #6cb1e1;
  text-align: center;
}

footer {
  text-align: center;
}

body {
  background: #f3ead0;
}
img {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
